body {
    background-color: white;
    color: #0f141e;

    font: 400 16px 'Inter', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: grey;
    overflow: hidden;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 680px;
    width: 370px;
    background: blue;
    border-radius: 10px;
    margin-right: 24px;
}

.daily {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 680px;
    width: 940px;
    background: aqua;
    border-radius: 10px;
    border-width: 10px;
}

.slider {
    display: flex;
    align-items: center;
    height: 620px;
    width: 900px;
    background-color: white;
    overflow: hidden;
}

.button__close {
    position: absolute;
    right: -3%;
    top: -3%;
    border-style: none;
    background-color: transparent;
}

.slide {
    display: flex;
    width: 250px;
    height: 440px;
}